.container-fluid {
    background-color: #fff;
    margin-top: 5vh;
  }
 
  /* MEDIA QUERY*/

@media screen and (min-width:320px) {
    .container-fluid {
        width: 100vw;
        margin-top: 0;
    }
  }

  @media screen and (min-width:800px) {
    .container-fluid {
        width: 90vw!important;
        margin-top: 5vh;
    }
}